<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
            <form action="/students" method="GET">
                <div class="form-group">
                    <input type="text" name="role" class="form-control" placeholder="Role" />
                    <input type="text" name="location" class="form-control" placeholder="Location" />
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>